/*================================================================
  02. Variables
==================================================================*/
:root {
  --secondary-color: #6a6a6a;
  --primary-color: #0c1e21;
  --blue-color: #0f282c;
  --accent-color: #1e8a8a;
  --white-color: #fff;
  --black-color: #000;
  --light-blue-color: #d8e5e5;
  --gray-color: #faf8f4;
  --gray-color2: #d9d9d9;
  --primary-font: "Mona Sans SC", sans-serif;
  --secondary-font: "Inter", sans-serif;
}
.cs_dark {
  --secondary-color: #d8e5e5;
}
