/*=========================================================
  06. Header Sections
===========================================================*/
.cs_site_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--accent-color);

  .cs_main_header_in {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    font-family: var(--primary-font);
  }

  .cs_main_header_right {
    font-size: 14px;
    font-weight: 600;
  }

  &.cs_style_2 {
    border-bottom: none;
    .container-fluid {
      padding: 0 80px;
    }
    .cs_main_header_in {
      height: 90px;
      border-radius: 50px;
      background-color: var(--white-color);
      padding: 0 40px 0 60px;
      color: var(--primary-color);
    }

    .cs_hamburger_btn {
      .cs_hamburger_btn_in {
        span {
          background-color: var(--primary-color);
          &::after,
          &::before {
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
  // &.cs_style_3 {
  //   .cs_main_header_in {
  //     height: 124px;
  //   }
  // }

  // &.cs_style_4 {
  //   .cs_main_header_in {
  //     height: 134px;
  //   }

  //   .container-fluid {
  //     padding: 0 12px;
  //     max-width: 1704px;
  //   }
  // }

  // &.cs_style_5,
  // &.cs_style_6 {
  //   margin-top: 30px;

  //   .cs_main_header_in {
  //     position: relative;
  //     z-index: 1000;
  //     padding: 0 60px;
  //     border-radius: 100px;
  //     background-color: var(--white-color);
  //   }
  // }

  // &.cs_style_6 {
  //   margin-top: 60px;

  //   .cs_main_header_in {
  //     border-radius: 10px;
  //   }
  // }

  &.cs_sticky_active {
    background-color: var(--blue-color2);
    box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);

    .cs_main_header_in {
      height: 80px;
    }

    // &.cs_style_2 {
    //   background-color: var(--primary-color);
    //   color: var(--white-color);
    //   box-shadow: 0px 2px 6px 0px rgba(255, 255, 255, 0.15);
    // }

    // &.cs_style_5,
    // &.cs_style_6 {
    //   margin-top: 0;

    //   .cs_main_header_in {
    //     border-radius: 0;
    //   }
    // }
  }

  .cs_header_btns_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1500px;
    }

    .container-fluid {
      padding: 0 120px;
    }

    // &.cs_style_2 {
    //   .container-fluid {
    //     max-width: 1704px;
    //     padding: initial;
    //   }
    // }

    // &.cs_style_6 {
    //   .container-fluid {
    //     max-width: 1704px;
    //     padding: 0 12px;
    //   }
    // }
  }

  @media (min-width: 1200px) {
    .cs_main_header_center,
    .cs_nav,
    .cs_nav_list_wrapper,
    .cs_nav_list {
      height: inherit;
    }

    .cs_nav_list {
      display: flex;
      align-items: center;
      justify-content: center;

      > li {
        height: inherit;
      }

      > li:not(:last-child) {
        margin-right: 30px;
      }

      > li a {
        display: inline-flex;
        position: relative;
        align-items: center;
        height: inherit;
      }

      a:hover {
        color: var(--accent-color);
      }
    }

    .menu-item-has-children {
      position: relative;

      > a {
        position: relative;
        padding-right: 15px;

        &::after {
          content: "\f078";
          font-family: "Font Awesome 7 Free";
          font-size: 10px;
          font-weight: 900;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      ul {
        position: absolute;
        left: 0;
        top: calc(100% + 15px);
        width: 200px;
        padding: 10px 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        color: var(--secondary-color);
        background-color: var(--white-color);
        border-top: 2px solid var(--accent-color);
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;

        a {
          display: block;
          padding: 6px 20px;
        }
      }

      &:hover {
        color: var(--accent-color);

        ul {
          top: 100%;
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    .cs_close_nav {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    .container {
      max-width: 100%;
    }

    .cs_main_header_in {
      height: 80px !important;
    }

    .cs_site_brand,
    .cs_main_header_right {
      position: relative;
      z-index: 1001;
    }

    .cs_nav {
      .cs_nav_list_wrapper {
        width: 100%;
        height: 100vh;
        padding: 80px 7px 40px 0;
        background-color: var(--blue-color1);
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 98;
        transition: all 0.6s ease;

        &.active {
          left: 0vw;
        }
      }

      .cs_nav_list {
        height: 100%;
        line-height: 1.6em;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        > li {
          width: 100%;
          margin-right: 0;
        }

        ul {
          padding-left: 15px;
          display: none;
          list-style: none;
        }

        a {
          display: block;
          padding: 12px 15px;
          line-height: 16px;
        }
      }

      .menu-item-has-children {
        position: relative;

        &:after {
          display: none;
        }
      }
    }

    .cs_main_header_right {
      padding-right: 60px;
      .cs_hamburger_btn {
        display: none;
      }
    }

    .cs_right_nav_list {
      max-width: fit-content;
    }

    .cs_menu_toggle {
      display: inline-block;
    }

    .cs_menu_dropdown_toggle {
      position: absolute;
      height: 40px;
      width: 100%;
      top: 0;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 23px 18px;
      cursor: pointer;
      z-index: 3;

      span {
        display: block;
        position: relative;
        height: 10px;
        width: 10px;

        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 2px;
          width: 10px;
          background-color: currentColor;
          transition: all 0.3s ease;
        }

        &:before {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &.active {
        span {
          &:before {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }

    // &.cs_style_2 {
    //   .cs_nav {
    //     .cs_nav_list_wrapper {
    //       background-color: var(--primary-color);
    //       color: var(--white-color);
    //     }
    //   }
    // }

    // &.cs_style_5,
    // &.cs_style_6 {
    //   margin-top: 20px;

    //   .cs_main_header_in {
    //     padding: 0 60px 0 15px;
    //   }

    //   .cs_nav {
    //     .cs_nav_list_wrapper {
    //       width: min(100%, 320px);
    //       z-index: 1005;
    //       left: initial;
    //       right: -100vw;

    //       &.active {
    //         right: 0vw;
    //       }
    //     }
    //   }

    //   .cs_main_header_right {
    //     padding-right: 0;
    //   }
    // }

    .cs_close_nav {
      cursor: pointer;
      position: absolute;
      top: 30px;
      left: 15px;
      z-index: 1005;
      font-size: 24px;
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
      color: var(--primary-color);
      transition: all 0.3s ease;

      &.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition: all 0.7s ease;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_main_header_right {
      .cs_btn_style_1 {
        display: none;
      }
    }
  }
}

/*====================================================
   Mobile Menu Styling
  ======================================================*/
.cs_menu_toggle {
  width: 30px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 15px;
  z-index: 1002;

  span,
  span:before,
  span:after {
    width: 100%;
    height: 2px;
    background-color: currentColor;
    display: block;
  }

  span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition-duration: 0s;
    transition-delay: 0.2s;

    &:before {
      content: "";
      position: absolute;
      margin-top: -9px;
      transition-property: margin, transform;
      transition-duration: 0.2s;
      transition-delay: 0.2s, 0s;
    }

    &:after {
      content: "";
      position: absolute;
      margin-top: 9px;
      transition-property: margin, transform;
      transition-duration: 0.2s;
      transition-delay: 0.2s, 0s;
    }
  }

  &.active {
    color: inherit;

    span {
      background-color: transparent;
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }
}

.cs_menu_toggle,
.cs_menu_dropdown_toggle {
  display: none;
}

/*====================================================
 Humbergur Button
======================================================*/

.cs_toolbox {
  display: flex;
  align-items: center;
  gap: 30px;

  .cs_header_search_form {
    position: relative;
    button {
      position: absolute;
      left: 0;
    }

    .cs_header_search_field {
      width: 94px;
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0 0 0 38px;

      &::placeholder {
        color: inherit;
      }
    }
  }
}
.cs_hamburger_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: -10px;

  .cs_hamburger_btn_in {
    position: relative;
    width: 16px;
    height: 12px;
    transition: all 0.5s ease;

    span,
    span::before,
    span::after {
      width: 16px;
      height: 2px;
      background-color: var(--white-color);
      position: absolute;
      right: 0;
      display: inline-block;
    }

    span {
      top: 50%;

      &::after {
        content: "";
        top: -4px;
        right: 0;
      }
      &::before {
        content: "";
        bottom: -4px;
        right: 0;
        width: 50%;
      }
    }

    &:hover {
      transform: rotateX(180deg);
    }
  }
}

/*====================================================
 Side Header
======================================================*/

.cs_side_header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all 0.4s ease;

  &.active {
    opacity: 1;
    visibility: visible;

    .cs_side_header_in {
      right: 0;
    }
  }

  .cs_close {
    position: fixed;
    right: 30px;
    top: 30px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid currentColor;
    background-color: transparent;
    color: var(--accent-color);
    cursor: pointer;
    z-index: 100;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 2px;
      background-color: currentColor;
      left: 50%;
      top: 50%;
      margin-left: -25%;
      margin-top: -1px;
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
    &:hover {
      color: red;
      transform: scale(1.05);
    }
  }

  .cs_side_header_overlay {
    background-color: rgba(225, 162, 162, 0.5);
    height: inherit;
    width: inherit;
    right: inherit;
    top: inherit;
    position: inherit;
    cursor: zoom-out;
    transition: all 0.4s ease;
    opacity: 0;
  }
}
.cs_side_header_in {
  width: 405px;
  padding: 40px;
  margin-left: auto;
  overflow: auto;
  background-color: var(--white-color);
  height: 100%;
  position: relative;
  z-index: 10;
  right: -405px;
  transition: all 0.4s ease;
}
