/*============================================================
  09. Sidebar
==============================================================*/
.cs_sidebar_style_1 {
  display: grid;
  gap: 30px;

  .cs_sidebar_widget {
    padding: 40px;
  }

  .cs_service_category_list {
    display: grid;
    gap: 30px;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--white-color);
      padding: 15px 20px 14px;
      border-radius: 5px;
      border: 1px solid var(--white-color);
    }

    li {


      &:hover {
        a {
          background-color: transparent;
          border-color: var(--accent-color);
        }
      }
    }

  }

  .cs_search {
    border-radius: 8px;

    input {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 16px 20px;
      border: 1px solid var(--gray-color2);

      &:focus {
        border-color: var(--accent-color);
      }
    }

    .cs_search_button {
      height: 100%;
      border: 0;
      outline: 0;
      padding-right: 20px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_recent_post_wrapper {
    display: grid;
    gap: 30px;
  }

  @media (max-width:1399px) {
    .cs_sidebar_widget {
      padding: 30px 20px;
    }
  }
}

.cs_sidebar_style_2 {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .cs_clients_list_container {
    padding: 40px;
  }

  .cs_clients_list {
    display: flex;
    gap: 30px;
    flex-direction: column;

    li {
      padding-bottom: 30px;
      border-bottom: 1px solid var(--border-color);

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .cs_avata_style_1 {
    display: flex;
    gap: 10px;
    align-items: center;

    .cs_avatar_icon {
      width: 50px;
      height: 50px;
      flex: none;
    }
  }

  @media (max-width:991px) {
    .cs_clients_list_container {
      padding: 30px 20px;
    }
  }
}

.cs_sidebar_style_3 {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .cs_widget_title {
    position: relative;
    padding-left: 24px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 9px;
      border-radius: 50%;
      background-color: var(--accent-color);
    }
  }

  .cs_service_list_wrapper {
    padding: 40px 30px;
  }

  .cs_service_list {
    display: flex;
    gap: 30px;
    flex-direction: column;

    a {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      padding: 20px 25px;
      border-radius: 5px;
      background-color: var(--white-color);

      &:hover {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }
  }

  .cs_contact_card {
    padding: 20px;

    .cs_contact_card_inner {
      width: 100%;
      height: 100%;
      min-height: 600px;
      padding: 30px;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #CAA05C 100%);
      }

      >* {
        position: relative;
        z-index: 1;
      }

      .cs_contact_icon {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      a:hover {
        color: var(--primary-color);
      }
    }
  }

  @media (max-width:1399px) {
    .cs_service_list_wrapper {
      padding: 40px 20px;
    }

    .cs_service_list {
      font-size: 16px;

      a {
        gap: 10px;
        padding: 20px 15px;
      }
    }
  }

  @media (max-width:991px) {
    .cs_service_list_wrapper {
      padding: 30px 20px;
    }

    .cs_contact_card {
      padding: 10px;

      .cs_contact_card_inner {
        min-height: 450px;
      }
    }
  }
}

.cs_author_card {
  .cs_author_thumbnail {
    width: 100px;
    height: 100px;
  }

  .cs_author_social_links {
    display: flex;
    gap: 20px;
    justify-content: center;

    a {
      font-size: 20px;
      color: var(--accent-color);

      &:hover {
        color: var(--primary-color);
        transform: translateY(-2px);
      }
    }
  }
}

.cs_tags_links {
  display: flex;
  gap: 20px 15px;
  flex-wrap: wrap;

  .cs_tag_link {
    padding: 5px 20px 4px;

    &:hover {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
}