/*================================================================
  08. Slider
==================================================================*/
.cs_align_center {
  .swiper-wrapper {
    align-items: center;
  }
}

/*=======================================================
 Navigation
=========================================================*/
.cs_swiper_arrow_style_1 {
  display: flex;
  align-items: center;
  gap: 15px;

  .cs_left_arrow,
  .cs_right_arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    color: var(--accent-color);
    background-color: var(--light-blue-color);
    transition: all 0.4s ease;

    &:hover {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
}

.cs_swiper_arrow_style_2 {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .slider-next,
  .slider-prev {
    &:hover {
      color: var(--accent-color);
    }
  }

  @media (max-width: 450px) {
    position: initial;
    transform: translateY(0);
    margin-top: 20px;
    justify-content: center;
  }
}

/*=======================================================
 Pagination
=========================================================*/
.swiper-pagination.cs_style_1,
.swiper-pagination.cs_style_2,
.swiper-pagination.cs_style_4 {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border-radius: 2px;
    border: 1.5px solid var(--secondary-color);
    font-size: 0;
    background-color: transparent;
    position: relative;
    opacity: 1;
    transition: all 0.3s ease;

    &::after {
      content: "";
      width: 4px;
      height: 4px;
      background: #fff;
      border-radius: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  &.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    &::after {
      opacity: 1;
    }
  }
}

.swiper-pagination.cs_style_2 {
  .swiper-pagination-bullet {
    border-color: var(--accent-color);

    &::after {
      background: var(--accent-color);
    }
  }
}

.swiper-pagination.cs_style_4 {
  gap: 16px;
  flex-direction: column;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
  }
  .swiper-pagination-bullet-active {
    height: 20px;
  }
}

.swiper-pagination.cs_style_3,
.swiper-pagination.cs_style_5 {
  .swiper-pagination-bullet {
    border-radius: 0;
    height: 5px;
    background-color: var(--light-blue-color);
    width: clamp(30px, 10vw, 95px);
    margin: 0 !important;

    &.swiper-pagination-bullet-active {
      background-color: var(--accent-color);
      border-radius: 10px;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

.swiper-pagination.cs_style_5 {
  width: fit-content;
  left: calc(100% - 200px);
  bottom: -10px;

  .swiper-pagination-bullet {
    margin: 5px !important;
    width: 50px;
    height: 5px;
    background-color: var(--accent-color);
    opacity: 1;
    border-radius: 5px !important;

    &.swiper-pagination-bullet-active {
      background-color: var(--white-color);
    }
  }
}

.cs_slider.cs_style_1,
.cs_slider.cs_style_2,
.cs_slider.cs_style_3 {
  .cs_single_product_nav {
    max-height: 365px;
    position: absolute;
    top: 13%;
    right: -50%;
    transform: translate(-50%, -50%);

    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .cs_nav_thumbnail {
      margin-bottom: 0 !important;
      width: 80px;
      height: 80px !important;
      border-radius: 50%;

      img {
        width: 100%;
        object-fit: cover;
      }

      &.swiper-slide-thumb-active {
        border: 1px solid var(--white-color);
      }
    }

    @media (max-width: 1200px) {
      right: 33%;
    }
    @media (max-width: 991px) {
      top: 23%;
      right: 28%;
    }
    @media (max-width: 767px) {
      top: 23%;
      right: 2%;
    }
    @media (max-width: 575px) {
      max-height: 265px;
      top: 17%;
      right: 0%;
      .cs_nav_thumbnail {
        width: 50px;
        height: 50px !important;
      }
    }
  }
}

.cs_slider.cs_style_2 {
  .cs_single_product_nav {
    max-height: 520px;
    position: initial;
    transform: none;

    .cs_nav_thumbnail {
      width: 112px;
      height: 112px !important;
      border-radius: 10px;
      &.swiper-slide-thumb-active {
        border: 1px solid var(--accent-color) !important;
      }
    }
  }

  @media (max-width: 1400px) {
    .cs_single_product_nav {
      .cs_nav_thumbnail {
        width: 100px;
        height: 100px !important;
      }
    }
  }
  @media (max-width: 1199px) {
    .cs_single_product_nav {
      .cs_nav_thumbnail {
        width: 80px;
        height: 80px !important;
      }
    }
  }
  @media (max-width: 575px) {
    .cs_single_product_nav {
      .cs_nav_thumbnail {
        width: 65px;
        height: 65px !important;
      }
    }
  }
}

.cs_full_screen_right {
  width: calc(100vw - (100vw - 1320px) / 2);
}

.cs_slider.cs_style_3 {
  .cs_full_screen_right {
    width: calc(100vw - (100vw - 1615px) / 2);
  }
}

.cs_slider.cs_style_4 {
  .cs_slider_in {
    width: 69vw;
  }
  .swiper-slide {
    width: 424px;
  }
  @media (max-width: 1199px) {
    .cs_slider_in {
      width: 100vw;
    }
  }
}
/*=======================================================
 Horizontal Slider
=========================================================*/
.cs_horizontal_slider {
  padding: 20px 0;
  overflow: hidden;

  .cs_sliding_content {
    text-wrap: nowrap;
    animation: scrollingAnimation 60s linear infinite;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .cs_slider_inner {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    margin: 0 20px;
  }

  &:hover {
    .cs_sliding_content {
      animation-play-state: paused;
    }
  }

  &.cs_type_1 {
    padding: 120px 0 40px;
    .cs_sliding_content {
      background-color: transparent;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--white-color);
    }
  }
  &.cs_type_2 {
    padding: 0;
    border: 0;

    .cs_sliding_content {
      display: flex;
      flex: none;
      gap: 0px;
      margin: 0 10px;
      text-wrap: wrap;
      -webkit-text-stroke: none;
    }
    .cs_slider_inner {
      text-wrap: wrap;
    }
  }

  &.cs_type_3 {
    padding: 0;

    .cs_sliding_content {
      gap: 24px;
    }

    .cs_slider_inner {
      margin: 0 12px;

      &:first-child {
        margin-bottom: 24px;
      }
      &:last-child {
        .cs_sliding_content {
          animation-direction: reverse;
        }
      }
    }
  }

  &.cs_type_4,
  &.cs_type_5 {
    width: calc(100% + 100px);
    top: 200px;
    left: -50px;
    padding: 0;

    .cs_slider_inner {
      padding: 30px;
      background-color: var(--blue-color);
      gap: 80px;
      margin: 0;
    }
    .cs_sliding_content {
      gap: 80px;
    }
    transform: rotate(2deg);
  }

  &.cs_type_5 {
    transform: rotate(-11deg);
    .cs_slider_inner {
      background-color: var(--accent-color);
    }
  }

  &.cs_type_6 {
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    left: 0;

    .cs_slider_inner {
      margin: 40px 0;
      gap: 20px;
      flex-direction: row;
      // transform: rotate(180deg);
      // transform: scaleX(-1);
    }

    .cs_sliding_content {
      animation: scrollingAnimation2 60s linear infinite;
      background: linear-gradient(
        270deg,
        rgba(12, 30, 33, 0.1) 0%,
        rgba(255, 255, 255, 0.5) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 128px;
      line-height: 1em;
      flex-direction: column-reverse;
    }
  }

  @media (max-width: 991px) {
    &.cs_type_3 {
      top: 100px;
      padding: 20px 0;
    }

    &.cs_type_4 {
      bottom: 100px;
      padding: 20px 0;
    }
  }
}

.cs_logo_slider_container {
  height: 578px;
  position: relative;

  @media (max-width: 991px) {
    height: 300px;
  }
}

.cs_horizontal_slider_wrapper_style_1 {
  position: relative;
  overflow: hidden;

  .cs_slider_img {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0c1e21 100%);
    }
  }

  .cs_horizontal_slider.cs_type_1 {
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
  }
}

/*==========================================
 Animations
============================================*/
@keyframes scrollingAnimation {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollingAnimation2 {
  100% {
    transform: translateY(-100%);
  }
}

/*==========================================
 Wrapper
============================================*/
.cs_slider_wrapper_style_1 {
  width: calc(100% - 40px);
  margin: 0 auto;
}
