/*===============================================================
 14. Accordian
=================================================================*/
.cs_accordian.cs_style_1,
.cs_accordian.cs_style_2,
.cs_accordian.cs_style_3,
.cs_accordian.cs_style_4,
.cs_accordian.cs_style_5,
.cs_accordian.cs_style_6,
.cs_accordian.cs_style_7 {
  .cs_accordian_toggler {
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: var(--secondary-color);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      background-color: var(--secondary-color);
      transition: all 0.4s ease;
    }
  }
  .cs_accordian_head {
    padding: 20px 60px 20px 20px;
    cursor: pointer;
  }
  .cs_accordian_title {
    padding-right: 10px;
  }
  .cs_accordian_body {
    padding: 0 60px 20px 20px;
    margin-top: -10px;
  }

  &.active {
    .cs_accordian_head {
      pointer-events: none;
    }

    .cs_accordian_toggler {
      &::before {
        transform: translate(-50%, -50%) rotate(90deg) scale(0);
      }
    }
  }

  @media (max-width: 991px) {
    .cs_accordian_toggler {
      right: 15px;
    }

    .cs_accordian_body {
      margin-top: -10px;
      padding-left: 15px;
    }
  }
}

.cs_accordian.cs_style_2 {
  border: 1px solid var(--gray-color2);
  background-color: transparent;

  .cs_accordian_body {
    margin-top: -4px;
  }
}
.cs_accordian.cs_style_3 {
  border: 1px solid #e0e0e0;
  background-color: transparent;

  .cs_accordian_head {
    padding: 27px 80px 27px 30px;
  }
  .cs_accordian_body {
    padding: 0 80px 27px 30px;
    width: min(930px, 100%);
  }

  .cs_accordian_title {
    position: relative;
    padding-left: 38px;
    counter-increment: accordion-counter;

    &::after {
      content: counter(accordion-counter, decimal-leading-zero);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .cs_accordian_toggler {
    width: 40px;
    height: 40px;
    top: 22px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background-color: transparent;

    &::before {
      content: "";
      background-color: transparent;
      width: 12px;
      height: 12px;
      top: 16px;
      border-right: 2px solid var(--accent-color);
      border-bottom: 2px solid var(--accent-color);
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &.active {
    .cs_accordian_toggler {
      background-color: var(--accent-color);
      &::before {
        transform: translate(-50%, -50%) rotate(225deg);
        border-color: var(--white-color);
      }
    }
  }

  @media (max-width: 575px) {
    .cs_accordian_head {
      padding: 16px 60px 16px 20px;
    }

    .cs_accordian_body {
      padding: 0 60px 16px 20px;
    }
    .cs_accordian_title {
      padding-left: 26px;
    }

    .cs_accordian_toggler {
      width: 30px;
      height: 30px;
      &::before {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.cs_accordian.cs_style_4,
.cs_accordian.cs_style_6 {
  counter-increment: accordion-counter;
  border-bottom: 1px solid var(--gray-color2);
  padding-bottom: 20px;
  position: relative;

  & + & {
    margin-top: 20px;
  }

  .cs_accordian_toggler {
    border: 1px solid currentColor;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    border-radius: 100%;
    pointer-events: none;

    i {
      transform: rotate(-45deg);
    }

    &::before {
      display: none;
    }
  }

  .cs_accordian_title {
    position: relative;
    padding-left: 42px;
    color: var(--secondary-color);

    a {
      pointer-events: none;
    }

    &:before {
      content: counter(accordion-counter, decimal-leading-zero) ".";
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .cs_accordian_toggler {
    top: 10px;
  }

  .cs_accordian_body {
    padding: 0 40px 20px 62px;
    margin-top: -4px;
    width: min(460px, 100%);
    position: relative;
    z-index: 2;
  }

  .cs_iconbox_thumbnail {
    right: 27%;
    bottom: 0px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  &.active {
    .cs_iconbox_thumbnail {
      opacity: 1;
    }
    .cs_accordian_title {
      color: var(--primary-color);

      a {
        pointer-events: initial;
      }
    }
    .cs_accordian_toggler {
      pointer-events: initial;
      background-color: var(--accent-color);

      i {
        color: var(--white-color);
      }
    }
  }

  @media (max-width: 767px) {
    .cs_accordian_body {
      padding: 20px;
    }

    .cs_iconbox_thumbnail {
      width: 200px;
    }
  }
  @media (max-width: 575px) {
    .cs_accordian_head {
      h3 {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .cs_accordian_toggler {
      width: 35px;
      height: 35px;
      top: 20px;
    }

    .cs_accordian_title {
      padding-left: 30px;
    }

    .cs_iconbox_thumbnail {
      width: 120px;
    }
  }
}

.cs_accordian.cs_style_5,
.cs_accordian.cs_style_7 {
  &.active {
    background-color: var(--primary-color);
    .cs_accordian_title,
    .cs_accordian_body {
      color: var(--white-color);
    }
  }
}

.cs_accordian.cs_style_6 {
  border: 1px solid var(--gray-color2);
  border-radius: 10px;
  padding-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 0px !important;
  }
  & + & {
    margin-top: 30px;
  }
  .cs_accordian_toggler {
    border: 0;
    top: 30px;

    &::before {
      display: none;
    }
  }

  .cs_accordian_head {
    padding: 40px;
  }
  .cs_accordian_title {
    color: var(--primary-color);
  }
  .cs_accordian_body {
    width: min(800px, 100%);
    color: var(--white-color);
    margin-top: -24px;
    padding: 0 40px 40px;
  }

  &.active {
    background-color: var(--accent-color);
    .cs_accordian_title {
      color: var(--white-color);
      &:hover {
        opacity: 0.8;
      }
    }
    .cs_accordian_toggler {
      i {
        color: var(--white-color);
        transform: rotate(45deg);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.cs_accordian.cs_style_7 {
  &.active {
    background-color: var(--accent-color);
  }
}
/*===================================================
 Accordians Wrappers
=====================================================*/
.cs_accordians_wrapper_1 {
  counter-reset: accordion-counter;

  .cs_accordian.cs_style_1,
  .cs_accordian.cs_style_2,
  .cs_accordian.cs_style_3,
  .cs_accordian.cs_style_5,
  .cs_accordian.cs_style_6,
  .cs_accordian.cs_style_7 {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.cs_accordians_wrapper_style_2,
.cs_accordians_wrapper_style_3 {
  .cs_img_dots_line {
    left: 0;
    bottom: 35px;
    filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%)
      hue-rotate(347deg) brightness(88%) contrast(85%);
  }

  @media (max-width: 991px) {
    .cs_img {
      display: none;
    }
  }
}

.cs_accordians_wrapper_style_3 {
  width: calc(100% - 20px);
  max-width: 1880px;
  margin: auto;
}
