.cs_blog_style_1 {
  .cs_blog_thumbnail {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .cs_blog_meta_link {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .cs_date {
    position: relative;
    padding-left: 20px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background-color: var(--secondary-color);
    }
  }

  .cs_blog_title {
    margin-top: 10px;
    a {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

.cs_blog_style_2,
.cs_blog_style_3,
.cs_blog_style_4,
.cs_blog_style_5 {
  display: flex;
  align-items: center;
  gap: 20px 0px;
  height: 100%;

  .cs_blog_thumbnail {
    flex-shrink: 0;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cs_blog_info {
    padding: 0 40px;

    .cs_blog_title,
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .cs_blog_meta {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 0;

    i {
      color: var(--accent-color);
    }
  }

  .cs_blog_title:hover {
    color: var(--accent-color);
  }

  @media (max-width: 1400px) {
    .cs_blog_info {
      padding: 10px 20px;
    }
    .cs_blog_meta {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1199px) {
    .cs_blog_thumbnail {
      width: 54%;
    }
  }

  @media (max-width: 991px) {
    .cs_blog_thumbnail {
      width: auto;
    }
  }

  @media (max-width: 767px) {
    .cs_blog_thumbnail {
      width: 40%;
    }
  }
  @media (max-width: 575px) {
    flex-direction: column;
    .cs_blog_thumbnail {
      width: 100%;
      height: auto;
    }
  }
}

.cs_blog_style_3 {
  gap: 24px;

  .cs_blog_info {
    padding: 0;
  }

  @media (max-width: 1199px) {
    gap: 15px;
  }
}

.cs_blog_style_4 {
  padding: 40px;
  flex: none;
  .cs_blog_meta {
    margin-bottom: 120px;
    gap: 20px;
  }

  .cs_blog_thumbnail {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 1s ease;
    opacity: 0;
    visibility: hidden;
    min-width: 424px;
    img {
      width: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        0deg,
        rgba(15, 40, 44, 0.9) 0%,
        rgba(15, 40, 44, 0.9) 100%
      );
    }
  }

  .cs_blog_info {
    padding: 0;
  }

  &:hover {
    .cs_blog_thumbnail {
      left: 0;
      top: 0;
      visibility: visible;
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.cs_blog_style_5 {
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--gray-color2);
  padding-bottom: 30px;

  &:not(:first-child) {
    margin-top: 30px;
  }

  .cs_blog_info {
    padding: 0;
    width: min(310px, 100%);
  }
  .cs_blog_details {
    width: min(428px, 100%);

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .cs_blog_thumbnail {
    max-width: 312px;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_blog_meta {
    gap: 20px;

    li {
      i {
        padding-right: 8px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_blog_details {
      width: min(300px, 100%);
    }
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
    align-items: start;

    .cs_blog_details {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .cs_blog_info {
      width: 100%;
    }
  }
}

.cs_blog_style_6 {
  .cs_blog_meta {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 0;

    i {
      color: var(--accent-color);
    }
  }
  .cs_blog_title {
    a {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
  .cs_blog_thumbnail {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.cs_blog_wrapper_style_1 {
  .container-fluid {
    padding: 0 70px;
  }
}
