/*===============================================================
 15. Cards
=================================================================*/
.cs_card_style_1 {
  padding: 40px;

  .cs_card_title {
    a {
      padding-left: 10px;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_card_thumbnail {
    border-radius: inherit;
    img {
      border-radius: inherit;
      width: 100%;
      object-fit: cover;
    }
  }
}

.cs_card_style_2 {
  width: 536px;
  min-height: 580px;
  padding: 40px;
  overflow: hidden;
  position: relative;
  display: flex;

  .cs_card_content {
    position: absolute;
    left: 0;
    bottom: -92px;
    padding: 40px;
    z-index: 1;
    transition: all 0.3s ease;

    p {
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      top: initial;
      bottom: 0;

      p {
        opacity: 1;
      }
    }
  }

  .cs_card_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .cs_card_title {
    width: 242px;
  }

  .cs_card_overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(12, 30, 33, 0.95) 100%
    );
  }
}

.cs_card_style_3 {
  .cs_card_subtitle {
    display: inline-block;
    border: 1px solid var(--accent-color);
    padding: 10px 20px;
    border-radius: 150px;
  }

  .cs_card_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    a {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
  .cs_card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    margin: -24% 7% 0 7%;
    position: relative;
    z-index: 2;

    .cs_left {
      width: min(190px, 100%);
    }
  }

  .cs_card_thumbnail {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_card_btn {
    background-color: transparent;
    border: 1px solid var(--accent-color);
  }

  @media (max-width: 1600px) {
    .cs_card_info {
      padding: 30px 20px;
    }
  }
}

.cs_card_style_4 {
  margin-bottom: 60px;
  counter-increment: accordion-counter;
  position: relative;
  z-index: 2;
  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.cs_card_style_5 {
  padding: 60px;
  position: absolute;
  width: min(588px, 90%);
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .cs_card_subtitle {
    padding: 10px 30px;
    border-radius: 150px;
    color: var(--white-color);
    border: 1px solid var(--accent-color);
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 600;
  }

  .cs_btn_style_1 {
    background-color: transparent;
    border-color: var(--accent-color);

    &::before {
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 991px) {
    padding: 40px;
  }
  @media (max-width: 575px) {
    padding: 30px 20px;
  }
}

.cs_card_style_6 {
  position: relative;
  padding-left: 55px;
  counter-increment: accordion-counter;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &::after {
    content: counter(accordion-counter, decimal-leading-zero);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    left: -35px;
    top: 0;
    color: var(--white-color);
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 600;
    line-height: 1.16667em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
}

.cs_card_btn {
  width: 50px;
  height: 50px;
  flex: none;

  i {
    font-size: 24px;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}
