.cs_counter_style_2 {
  padding: 30px 50px;
  display: inline-block;
}

.cs_counter_style_3 {
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  border: 5px solid var(--white-color);
  background: var(--accent-color);

  p {
    margin-top: -15px;
  }
}

.cs_counter_wrapper_style_1 {
  display: flex;
  justify-content: space-between;
  gap: 20px 40px;
  flex-wrap: wrap;
}
