.cs_counter_style_2 {
  padding: 30px 50px;
  display: inline-block;
  animation: upDown 03s infinite;
}

.cs_counter_style_3 {
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  border: 5px solid var(--white-color);
  background: var(--accent-color);

  p {
    margin-top: -15px;
  }
}

.cs_counter_style_4 {
  display: flex;
  gap: 20px 30px;

  .cs_counter_style_1 {
    flex-shrink: 0;
  }

  p {
    width: min(524px, 100%);
  }

  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
}

.cs_counter_wrapper_style_1 {
  display: flex;
  justify-content: space-between;
  gap: 20px 40px;
  flex-wrap: wrap;

  @media (max-width: 1399px) {
    gap: 20px 14px;
  }
}

.cs_counter_wrapper_style_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}
