.cs_hero_style_1 {
  padding-top: 220px;

  .container-fluid {
    padding: 0 200px;
  }

  .cs_hero_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .cs_hero_content {
    .cs_section_heading_style_1 {
      width: min(995px, 100%);
    }

    .cs_hero_img {
      padding: 245px 0 120px;
      border-radius: 10px;
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        inset: 0;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(12, 30, 33, 0.8) 100%
        );
      }
    }

    .cs_brand_name {
      -webkit-text-stroke: 2px var(--white-color);
      color: transparent;
    }
  }
  .cs_hero_circle {
    border: 5px solid var(--white-color);
    padding: 50px 40px 80px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: upDown 01s infinite;
    flex: none;
    z-index: 5;
    position: relative;

    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -57px;
    }
  }

  .cs_side_content {
    left: -8%;
    transform: translateY(-50%);
    .cs_number {
      writing-mode: vertical-rl;
      transform: rotate(180deg);

      &:hover {
        color: var(--accent-color);
      }
    }

    .cs_social_btns_style_1 {
      flex-direction: column;

      a {
        transform: rotate(-90deg);
      }
    }
  }

  @media (max-width: 1500px) {
    .container-fluid {
      padding: 0 100px;
    }
  }
  @media (max-width: 991px) {
    .container-fluid {
      padding: 0 20px;
    }
    .cs_hero_top {
      flex-direction: column;
    }
  }
}

.cs_hero_style_2 {
  padding: 40px;

  .swiper-wrapper {
    padding-bottom: 120px;
  }

  .swiper-slide {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #0c1e21 100%);
      z-index: 1;
      pointer-events: none;
      border-radius: inherit;
    }
  }

  .cs_slider.cs_style_1 {
    .cs_hero_content {
      padding: 264px 0 260px;
      width: min(790px, 100%);
      position: relative;
      z-index: 2;
    }

    .cs_slider_container {
      position: relative;
      z-index: 5;
    }
  }

  .cs_side_content {
    right: 40px;
    color: var(--white-color);
    position: relative;
    z-index: 2;
  }

  .cs_social_btns_style_1 {
    a {
      border-color: var(--white-color);
      color: var(--white-color);
    }
  }

  .cs_circle_text {
    right: 0;
    bottom: -120px;
    z-index: 3;
  }

  .swiper-pagination.cs_style_1 {
    .swiper-pagination-bullet {
      border-color: var(--white-color);
    }
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 150px !important;
    }
  }
}

.cs_hero_style_3 {
  border-radius: 0 0 150px 0;
  padding: 280px 0;
  .container-fluid {
    padding: 0 200px;
  }

  .cs_hero_content {
    width: min(750px, 100%);
  }

  .cs_hero_img {
    bottom: 0;
    right: 0;
  }

  .cs_counter_style_3 {
    position: absolute;
    right: 8%;
    bottom: 80px;
  }

  .cs_customer_review_style_2 {
    position: absolute;
    right: 30%;
    bottom: 35%;
    animation: leftRight 3s infinite;
  }

  @media (max-width: 1500px) {
    .container-fluid {
      padding: 0 100px;
    }
    .cs_customer_review_style_2 {
      right: 15%;
    }
  }
  @media (max-width: 1199px) {
    .container-fluid {
      padding: 0 50px;
    }
    .cs_counter_style_3,
    .cs_customer_review_style_2 {
      right: 5%;
    }
  }
  @media (max-width: 991px) {
    .cs_customer_review_style_2 {
      bottom: 25%;
    }
  }
}

.cs_hero_style_4 {
  .cs_hero_content {
    padding: 326px 0 250px;
    width: min(700px, 100%);
    position: relative;
    z-index: 2;
  }

  .swiper-slide {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0c1e21 100%);
      z-index: 1;
      pointer-events: none;
      border-radius: inherit;
    }
  }

  .cs_hero_texts {
    position: absolute;
    z-index: 2;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    .cs_designer_text {
      -webkit-text-stroke: 2px var(--white-color);
      color: rgba(0, 0, 0, 0);
    }
  }

  .swiper-pagination.cs_style_4 {
    left: -47%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.cs_hero_style_5 {
  padding-top: 90px;
  .container-fluid {
    padding: 0 20px;
  }

  .cs_hero_right {
    padding: 60px 20px;

    .cs_hero_right_in {
      width: min(690px, 100%);
    }
    .cs_bg_img {
      right: 0;
      bottom: 0;
    }
  }

  .cs_hero_left {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .cs_hero_left_top,
    .cs_hero_left_bottom {
      display: flex;
      align-items: center;
      gap: 30px;

      .cs_hero_info {
        width: min(395px, 100%);
      }
    }

    .cs_hero_left_bottom {
      .cs_circle_text {
        max-height: 150px;
        max-width: 150px;
        top: -75px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .cs_hero_img {
      width: min(424px, 100%);
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 1400px) {
    // .cs_hero_right
  }
}

.cs_hero_style_6 {
  position: relative;

  .container-fluid {
    padding: 0 120px;
  }

  .cs_hero_content {
    padding: 282px 0;
    width: min(830px, 100%);
  }

  .cs_hero_right_img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 44%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_circle_text {
    width: 150px;
    height: 150px;
    right: 40px;
    bottom: 40px;

    .cs_play_btn {
      background-color: transparent;
      border-color: var(--white-color);
    }
  }

  .cs_img {
    position: absolute;
    left: 0;
    bottom: 0;
    filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%)
      hue-rotate(347deg) brightness(88%) contrast(85%);
  }

  @media (max-width: 991px) {
    .cs_hero_content {
      padding: 150px 0;
    }
    .container-fluid {
      padding: 0 30px;
    }
  }
}

.cs_hero_style_7 {
  .cs_hero_content {
    padding: 237px 0;
  }
  .container-fluid {
    padding: 0 200px;
  }
  .cs_circle_section,
  .cs_hero_btn_area {
    display: flex;
    align-items: center;
    gap: 20px 30px;
  }

  .cs_video_block {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;

    svg {
      z-index: 3;
    }
    &::after {
      content: "";
      inset: 0;
      position: absolute;
      background-color: #0d0d0d;
      opacity: 0.3;
    }
  }

  .cs_hero_btn_area {
    gap: 20px;

    .cs_comment_area {
      padding-left: 50px;

      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 15px;
        background-color: var(--white-color);
        width: 40px;
        height: 1px;
      }
    }
  }

  .cs_text {
    display: inline-block;
    font-size: 300px;
    font-weight: 600;
    line-height: 210px;
    font-family: var(--primary-font);
    opacity: 0.2;
    background: linear-gradient(180deg, #fff 0%, #0d0d0d 105.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }
  .cs_img {
    top: 248px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }

  .cs_customer_part {
    // width: min(450px, 100%);
    padding-left: 63%;
    position: absolute;
    right: 200px;
    bottom: 80px;

    .cs_line {
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, #fff 0%, rgba(13, 13, 13, 0) 100%);
    }

    .cs_customer_img {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .cs_customer_review_style_1 {
      .cs_customer_avaters {
        .cs_customer_img {
          width: 50px;
          height: 50px;

          &:not(:first-child) {
            margin-left: -25px;
          }
        }
        .cs_top {
          width: 50px;
          height: 50px;
          background-color: var(--white-color);
          margin-left: -25px;
        }
      }
    }
  }
  .cs_bg_effect_1,
  .cs_bg_effect_2 {
    position: absolute;
    background-color: var(--accent-color);
    opacity: 0.7;
    filter: blur(150px);
    width: 230px;
    height: 230px;
    aspect-ratio: 1/1;
  }

  .cs_bg_effect_1 {
    left: 80px;
    bottom: 80px;
  }

  .cs_bg_effect_2 {
    top: 130px;
    right: 120px;
  }

  @media (max-width: 1500px) {
    .cs_customer_part {
      right: 100px;
    }
  }

  @media (max-width: 1400px) {
    .container-fluid {
      padding: 0 100px;
    }
  }
  @media (max-width: 1199px) {
    .cs_hero_content {
      padding-bottom: 50px;
    }

    .cs_customer_part {
      position: initial;
      padding-left: 0;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 100px;
    }
  }

  @media (max-width: 767px) {
    .container-fluid {
      padding: 0 50px;
    }
  }
}

.cs_hero_style_8 {
  .container-fluid {
    padding: 0 200px;
  }

  .cs_hero_right {
    background-color: var(--gray-color);
    width: 50vw;
    .cs_hero_content {
      width: min(700px, 100%);
      margin: auto;
      padding: 185px 0 330px;
    }

    .cs_bg_img {
      right: 0;
      bottom: 0;
    }
  }

  .cs_hero_left {
    width: min(655px, 100%);

    .cs_hero_left_img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_side_content {
    flex-direction: row;
    align-items: end;
    gap: 10px;
    top: 41%;
  }

  .cs_img {
    position: relative;
    width: 1395px;
    z-index: 5;
    border-radius: 0 20px 20px 0;
    margin-top: -140px;
    img {
      width: 100%;
      object-fit: cover;
    }

    .cs_player_btn_style_3 {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }
  }
}

.cs_side_content {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 180px;
  top: 50%;
  transform: translateY(-50%);
  .cs_number {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_social_btns_style_1 {
    flex-direction: column;

    a {
      transform: rotate(-90deg);
    }
  }
}
