/*===============================================================
  16. Iconbox
=================================================================*/
.cs_iconbox_style_1,
.cs_iconbox_style_3,
.cs_iconbox_style_7,
.cs_iconbox_style_9 {
  padding: 30px;
  height: fit-content;
  margin-top: auto;

  .cs_iconbox_icon {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;

    img {
      border-radius: 0;
    }
  }

  .cs_iconbox_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .cs_number {
    counter-increment: accordion-counter;
    position: relative;
    &:before {
      content: counter(accordion-counter, decimal-leading-zero);
    }
  }

  &:hover {
    .cs_iconbox_icon {
      transform: rotateY(180deg);
    }
  }
}

.cs_iconbox_style_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 40px;
  position: relative;
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--light-blue-color);
  padding: 35px 0;

  &:first-child {
    padding-top: 0;
  }

  .cs_iconbox_info {
    display: inline-flex;
    gap: 20px 80px;
    align-items: center;
    justify-content: end;
  }

  .cs_icon_title {
    flex-shrink: 0;
    counter-increment: accordion-counter;
    position: relative;
    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: var(--accent-color);
        left: 0%;
        bottom: 0;
        transition: all 0.3s ease;
      }
    }
    &:before {
      padding-right: 10px;
      content: counter(accordion-counter, decimal-leading-zero) ".";
    }
  }

  .cs_icon_subtitle {
    width: min(450px, 100%);
  }
  .cs_iconbox_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--light-blue-color);
    flex: none;
    transition: all 0.3s ease;

    img {
      border-radius: 0;
      filter: brightness(0) saturate(100%) invert(41%) sepia(86%) saturate(365%)
        hue-rotate(131deg) brightness(93%) contrast(94%);
    }
  }

  .cs_icon_img {
    position: absolute;
    opacity: 0;
    top: -100px;
    left: 300px;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transform: scale(0.2);
  }

  &:hover {
    .cs_icon_img {
      opacity: 1;
      animation: bigger 05s infinite;
    }
    .cs_icon_title {
      color: var(--accent-color);
      a {
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }

    .cs_iconbox_icon {
      background-color: var(--accent-color);
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7461%) hue-rotate(218deg) brightness(118%) contrast(108%);
      }
    }
  }

  @media (max-width: 991px) {
    flex-wrap: wrap;
    .cs_iconbox_info {
      gap: 20px 20px;
      justify-content: space-between;
    }

    .cs_icon_img {
      top: -15px;
      left: 200px;
      height: 200px;
      width: 200px;
      border-radius: 100px;
    }
  }

  @media (max-width: 575px) {
    .cs_icon_img {
      display: none;
    }
  }
}

.cs_iconbox_style_3,
.cs_iconbox_style_7,
.cs_iconbox_style_9 {
  transition: all 0.3s ease;
  padding: 40px;

  .cs_iconbox_icon {
    width: 70px;
    height: 70px;
    border: 1px solid var(--accent-color);

    img {
      filter: brightness(0) saturate(100%) invert(41%) sepia(86%) saturate(365%)
        hue-rotate(131deg) brightness(93%) contrast(94%);
    }
  }

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    .cs_iconbox_icon {
      background-color: var(--accent-color);
      transform: none;
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7461%) hue-rotate(218deg) brightness(118%) contrast(108%);
      }
    }
  }

  @media (max-width: 991px) {
    padding: 20px;
  }
  @media (max-width: 575px) {
    .cs_iconbox_icon {
      width: 50px;
      height: 50px;
    }
  }
}

.cs_iconbox_style_4,
.cs_iconbox_style_6 {
  padding-left: 48px;
  position: relative;

  .cs_iconbox_icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_btn_style_1 {
    margin-left: -48px;
  }
}

.cs_iconbox_style_5 {
  padding: 40px;
  height: 100%;
  border: 1px solid var(--gray-color2);
  border-radius: 10px;

  .cs_iconbox_icon {
    border: 1px solid var(--accent-color);
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    transition: all 0.3s ease;

    img {
      border-radius: 0;
      filter: brightness(0) saturate(100%) invert(41%) sepia(86%) saturate(365%)
        hue-rotate(131deg) brightness(93%) contrast(94%);
    }
  }

  .cs_iconbox_img {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 01s ease;
    img {
      width: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        0deg,
        rgba(12, 30, 33, 0.8) 0%,
        rgba(12, 30, 33, 0.8) 100%
      );
    }
  }

  .cs_iconbox_title a:hover {
    color: var(--accent-color);
  }
  &:hover {
    .cs_iconbox_icon {
      border: 1px solid var(--white-color);

      img {
        border-radius: 0;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7461%) hue-rotate(218deg) brightness(118%) contrast(108%);
      }
    }

    .cs_iconbox_info {
      color: var(--white-color);
      transition: all 0.3s ease;
    }

    .cs_iconbox_title {
      color: var(--white-color);
      transition: all 0.3s ease;
    }

    .cs_iconbox_img {
      opacity: 1;
      visibility: visible;
      transform: scale(1.1);
    }

    .cs_btn_style_1 {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }

  @media (max-width: 1199px) {
    padding: 30px 20px;
  }
}

.cs_iconbox_style_6 {
  padding-left: 112px;
  padding-right: 24px;

  .cs_iconbox_info {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .cs_iconbox_icon {
    width: 88px;
    height: 88px;

    img {
      filter: brightness(0) saturate(100%) invert(41%) sepia(86%) saturate(365%)
        hue-rotate(131deg) brightness(93%) contrast(94%);
    }
  }

  @media (max-width: 991px) {
    padding-left: 70px;
    padding-right: 20px;

    .cs_iconbox_icon {
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 575px) {
    padding-right: 0;
  }
}

.cs_iconbox_style_7,
.cs_iconbox_style_9 {
  border: 1px solid var(--accent-color);
  padding: 30px;
  height: 100%;

  .cs_iconbox_icon {
    width: 70px;
    height: 70px;
  }

  .cs_iconbox_title a:hover {
    opacity: 0.7;
  }
  .cs_number {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent-color);
    color: var(--primary-color);
    opacity: 0.2;
  }
  &:hover {
    background-color: var(--accent-color);

    .cs_number {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--white-color);
      color: transparent;
    }

    .cs_iconbox_icon {
      border-color: var(--white-color);
    }

    .cs_text_btn_style_1 {
      color: var(--white-color);
    }
  }

  @media (max-width: 767px) {
    padding: 20px 14px;

    .cs_iconbox_icon {
      width: 50px;
      height: 50px;
    }
  }
}

.cs_iconbox_style_8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 30px;
  transition: all 0.3s ease;
  height: 100%;

  .cs_iconbox_icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--accent-color);
    padding: 10px;

    img {
      border-radius: 0;
      filter: brightness(0) saturate(100%) invert(41%) sepia(86%) saturate(365%)
        hue-rotate(131deg) brightness(93%) contrast(94%);
    }
  }

  .cs_iconbox_title {
    counter-increment: accordion-counter;
    position: relative;
    &:before {
      content: counter(accordion-counter, decimal-leading-zero) ".  ";
    }

    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &:hover {
    background-color: var(--accent-color);

    .cs_iconbox_icon {
      border-color: var(--white-color);
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7461%) hue-rotate(218deg) brightness(118%) contrast(108%);
      }
    }
  }
}

.cs_iconbox_style_9 {
  padding: 40px 20px;

  .cs_iconbox_in {
    width: min(344px, 100%);
    margin: auto;
  }
  .cs_iconbox_icon {
    width: 80px;
    height: 80px;
  }
  .cs_number {
    opacity: 1;
  }

  &:hover {
    .cs_iconbox_icon {
      background-color: var(--blue-color);
      transform: rotateY(360deg);
    }
  }

  @media (max-width: 1399px) {
    padding: 20px;
  }
  @media (max-width: 667px) {
    .cs_iconbox_in {
      width: 100%;
    }
  }
}

.cs_iconbox_style_10 {
  width: min(365px, 100%);

  .cs_iconbox_icon {
    width: 80px;
    height: 80px;

    svg {
      width: 100%;
    }
  }
}
.cs_iconbox_style_11 {
  display: flex;
  align-items: center;
  gap: 21px;
  padding: 30px;
  border: 1px solid var(--gray-color2);
  height: 100%;

  .cs_iconbox_icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      filter: brightness(0) saturate(100%) invert(41%) sepia(86%) saturate(365%)
        hue-rotate(131deg) brightness(93%) contrast(94%);
    }
  }

  @media (max-width: 1199px) {
    align-items: start;
  }
  @media (max-width: 575px) {
    padding: 25px 15px;
    flex-direction: column;
  }
}

.cs_iconbox_style_12 {
  padding: 40px;
  transition: all 0.3s ease;
  height: 100%;

  .cs_icon_title,
  .cs_iconbox_icon > img {
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
    .cs_iconbox_title {
      color: var(--white-color);
    }
    .cs_iconbox_icon {
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%)
          saturate(12%) hue-rotate(107deg) brightness(105%) contrast(105%);
      }
    }
  }

  @media (max-width: 991px) {
    padding: 30px 18px;
  }
}

/*===============================================================
  Iconbox Wrapper
=================================================================*/

.cs_iconbox_wrapper_style_1,
.cs_iconbox_wrapper_style_2,
.cs_iconbox_wrapper_style_3,
.cs_iconbox_wrapper_style_4,
.cs_iconbox_wrapper_style_5,
.cs_iconbox_wrapper_style_6,
.cs_iconbox_wrapper_style_7,
.cs_iconbox_wrapper_style_8 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 24px;
  counter-reset: accordion-counter;

  .cs_middle_img {
    border-radius: 212px;
    overflow: hidden;
    grid-row: span 2;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);

    .cs_iconbox_style_1 {
      height: 100%;
    }

    .cs_middle_img {
      grid-row: 1 / span 2;
    }
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cs_iconbox_wrapper_style_2 {
  gap: 60px 0;

  .cs_iconbox_style_6 {
    &:nth-child(n + 4) {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--gray-color2);
        left: 0;
        top: 0;
        position: absolute;
        margin-top: -30px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_iconbox_style_6 {
      &:nth-child(n + 3) {
        &::after {
          content: "";
          width: calc(100% + 15%);
          height: 2px;
          background-color: var(--gray-color2);
          left: 0;
          top: 0;
          position: absolute;
          margin-top: -30px;
        }
      }
      &:nth-child(even) {
        &::after {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .cs_iconbox_style_6 {
      &:nth-child(n + 2) {
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: var(--gray-color2);
          left: 0;
          top: 0;
          position: absolute;
          margin-top: -30px;
        }
      }
    }
  }
}

.cs_iconbox_wrapper_style_3 {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cs_iconbox_wrapper_style_4 {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1199px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cs_iconbox_wrapper_style_5 {
  grid-template-columns: repeat(4, 1fr);

  .cs_card_style_17 {
    grid-column-end: span 2;
  }

  @media (max-width: 1399px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 667px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_card_style_17 {
      grid-column-end: span 1;
    }
  }
}

.cs_iconbox_wrapper_style_6 {
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;

  .cs_iconbox_style_10 {
    &:nth-child(odd) {
      margin-left: auto;
    }
  }

  .cs_middle_img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1399px) {
    .cs_middle_img {
      max-width: 340px;
    }
  }
  @media (max-width: 1199px) {
    .cs_middle_img {
      max-width: 300px;
    }
    .cs_iconbox_style_10 {
      width: min(300px, 100%);
    }
  }

  @media (max-width: 991px) {
    gap: 30px;

    .cs_iconbox_style_10 {
      width: 100%;
    }

    .cs_iconbox_icon {
      width: 50px;
      height: 50px;
    }
    .cs_middle_img {
      position: relative;
      grid-row: auto;
      max-width: 100%;
      grid-column: 1 / span 2;
    }
  }

  @media (max-width: 767px) {
    gap: 30px;

    .cs_iconbox_icon {
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);

    .cs_middle_img {
      grid-column: 1;
    }

    .cs_iconbox_style_10 {
      width: 100%;
      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }
}

.cs_iconbox_wrapper_style_7 {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cs_iconbox_wrapper_style_8 {
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}
