/*=======================================================
  17. Layouts
=========================================================*/
.cs_circle_text_img {
  width: 100%;
  position: relative;

  .cs_img {
    border-radius: 10px 10px 10px 250px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_circle_text {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.cs_circle_text {
  position: absolute;

  img {
    animation: circle 3s infinite;
  }

  .cs_play_btn {
    width: 53%;
    height: 53%;
    border-radius: 50%;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
  }
  a {
    &:hover {
      opacity: 0.7;
    }
  }

  @media (max-width: 991px) {
    width: 140px;
    height: 140px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: 575px) {
    width: 100px;
    height: 100px;

    svg {
      width: 17px;
      height: 17px;
    }
  }
}

/*=======================================================
  Customer Review
=========================================================*/

.cs_customer_review_style_1,
.cs_customer_review_style_2,
.cs_customer_review_style_3 {
  display: flex;
  align-items: center;
  gap: 20px;

  .cs_customer_avaters {
    display: flex;

    .cs_customer_img {
      border-radius: 50%;
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        object-fit: cover;
      }

      &:not(:first-child) {
        margin-left: -15px;
      }
    }

    .cs_top {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--accent-color);
      margin-left: -15px;
    }
  }

  .cs_review_details {
    width: min(350px, 100%);
  }
}

.cs_customer_review_style_2 {
  flex-direction: column;
  background-color: var(--white-color);
  padding: 24px 30px;
  border-radius: 10px;
  width: fit-content;
  max-width: 350px;
  gap: 10px;

  .cs_customer_avaters {
    .cs_customer_img {
      width: 50px;
      height: 50px;
      &:not(:first-child) {
        margin-left: -28px;
      }
    }
    .cs_top {
      width: 50px;
      height: 50px;
      margin-left: -28px;
    }
  }
}

.cs_work_process_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 40px 30px;

  .cs_work_process_right {
    margin-left: auto;
    width: min(355px, 100%);

    .cs_card_style_4 {
      .cs_card_title {
        position: relative;
        span {
          flex-shrink: 0;
        }

        .cs_line {
          position: absolute;
          top: 50%;
          display: block;
          width: 42%;
          height: 2px;
          background: var(--accent-color);
          left: -44%;
          z-index: 5;

          &::before {
            content: counter(accordion-counter, decimal-leading-zero) ". ";
            font-weight: bold;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--accent-color);
            color: white;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            left: 0;
            top: -10px;
          }
        }
      }
      &:nth-child(1) {
        .cs_card_title {
          .cs_line {
            width: 54%;
            left: -56%;
          }
        }
      }
    }
  }
  .cs_work_process_left {
    counter-reset: accordion-counter;
    width: min(355px, 100%);

    .cs_card_style_4 {
      .cs_card_title {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          flex-shrink: 0;
        }

        .cs_line {
          position: relative;
          top: 50%;
          display: block;
          width: 78%;
          height: 2px;
          background: var(--accent-color);
          right: 0%;
          z-index: 5;

          &::before {
            content: counter(accordion-counter, decimal-leading-zero) ". ";
            font-weight: bold;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--accent-color);
            color: white;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            right: 0;
            top: -10px;
          }
        }
      }
      &:nth-child(3) {
        .cs_card_title {
          .cs_line {
            width: 86%;
          }
        }
      }
    }
  }

  .cs_work_process_img {
    border-radius: 168px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1399px) {
    .cs_work_process_right {
      .cs_card_style_4 {
        .cs_card_title {
          .cs_line {
            width: 17%;
            left: -18%;
          }
        }
        &:nth-child(1) {
          .cs_card_title {
            .cs_line {
              width: 29%;
              left: -30%;
            }
          }
        }
      }
    }

    .cs_work_process_left {
      .cs_card_style_4 {
        .cs_card_title {
          .cs_line {
            width: 48%;
          }
        }
        &:nth-child(3) {
          .cs_card_title {
            .cs_line {
              width: 56%;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    .cs_line {
      display: none !important;
    }

    .cs_work_process_right {
      margin-left: 0;
    }

    .cs_work_process_img {
      right: 0;
      top: 0;
      transform: none;
    }
  }
  @media (max-width: 767px) {
    .cs_work_process_img {
      position: initial;
    }

    .cs_work_process_right,
    .cs_work_process_left {
      width: 100%;
    }
  }
}

.cs_customer_review_style_3 {
  .cs_customer_avaters {
    .cs_customer_img {
      width: 80px;
      height: 80px;
      border: 2px solid var(--white-color);

      &:not(:first-child) {
        margin-left: -37px;
      }
    }
  }

  .cs_review_details {
    .cs_review_heading {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    .cs_rating {
      color: #fc0;
      width: 150px;
      letter-spacing: 3px;
    }
  }
}

/*=======================================================
  Progress 
=========================================================*/
.cs_performance_progress_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*=======================================================
  Project
=========================================================*/

.cs_project_style_1 {
  .container-fluid {
    padding: 0 75px;

    @media (max-width: 1199px) {
      padding: 25px;
    }
  }
}

.cs_project_style_2 {
  h1 {
    -webkit-text-stroke: 1px var(--white-color);
    color: var(--primary-color) !important;
    font-size: 128px;
    line-height: 1em;
    opacity: 0.3;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-wrap: nowrap;
  }
}

.cs_project_style_3 {
  .cs_side_content_style_1,
  .cs_side_content_style_2 {
    color: #d9d9d9;
    font-size: 200px;
    font-weight: 600;
    line-height: 1em;
    font-family: var(--primary-font);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    opacity: 0.1;
  }

  .cs_side_content_style_1 {
    right: 0;
    top: 320px;
  }
  .cs_side_content_style_2 {
    left: 0;
    bottom: 90px;
  }
}

.cs_project_wrapper_style_1 {
  .cs_card_style_13 {
    &:nth-child(2) {
      margin-top: -120px;
    }
  }
}

.cs_project_wrapper_style_1,
.cs_project_wrapper_style_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px 60px;

  .cs_card_style_13 {
    &:nth-child(2) {
      margin-top: 120px;
    }
  }

  @media (max-width: 1199px) {
    gap: 20px;

    .cs_card_style_13 {
      .cs_card_info {
        padding: 30px 15px 42px;
      }
    }
  }

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);

    .cs_card_style_13 {
      &:nth-child(2) {
        margin-top: 0px;
      }
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cs_project_wrapper_style_3 {
  .cs_project_info {
    padding: 40px 40px 30px 40px;
    .cs_info_in {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  .cs_challenges {
    .cs_challenges_in h3 {
      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-color2);
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
    }
  }

  // .cs_project_type {
  //   display: flex;
  //   align-items: stretch;
  //   gap: 1px; // 1px divider between the two buttons

  //   a {
  //     flex: 1 1 0; // each button fills half of the bar
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     text-align: center;
  //     padding: 20px 40px;
  //     white-space: nowrap;
  //     transition: opacity 0.3s ease;

  //     &:hover {
  //       opacity: 0.7;
  //       color: var(--white-color);
  //     }
  //   }

  //   @media (max-width: 575px) {
  //     flex-direction: column; // stack on small screens, 1px gap becomes a horizontal divider

  //     a {
  //       padding: 16px 20px;
  //     }
  //   }
  // }

  .cs_project_type {
    display: flex;
    align-items: stretch;
    gap: 1px; // 1px divider between the two buttons

    a {
      flex: 1 1 0; // each button fills half of the bar
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px 40px;
      white-space: nowrap;
      transition: opacity 0.3s ease;
      &:hover {
        color: var(--white-color);
        span {
          opacity: 0.7;
        }
      }
    }

    @media (max-width: 575px) {
      flex-direction: column; // stack on small screens, 1px gap becomes a horizontal divider

      a {
        padding: 16px 20px;
      }
    }
  }
  .cs_project_details_img {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.cs_why_choose_img_wrapper {
  img {
    width: 100%;
    object-fit: cover;
  }
  .cs_top_img {
    margin: -31% auto 0;
    width: fit-content;
    padding: 0 25%;
  }
}

.cs_why_choose_style_1 {
  .cs_why_choose_left {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_why_choose_right {
    padding-left: 46px;
  }

  @media (max-width: 991px) {
    .cs_why_choose_right {
      padding-left: 0;
    }
  }
  @media (max-width: 767px) {
    .cs_list_style_1 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.cs_why_choose_style_2 {
  .cs_why_choose_img {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_why_choose_img_wrapper_1 {
    .cs_why_choose_img {
      padding-left: 14%;
    }
  }

  .cs_circle_text {
    top: 50%;
    transform: translateY(-50%);
  }
}

.cs_why_choose_style_3 {
  .cs_why_choose_images {
    display: flex;
    align-items: start;
    gap: 24px;
    width: 100%;
  }

  .cs_img_1 {
    padding-bottom: 12%;
    .cs_circle_text {
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);

      .cs_play_btn {
        background-color: transparent;
      }
    }
  }

  .cs_img_1,
  .cs_img_2 {
    flex: 1;
  }
  img {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 575px) {
    .cs_why_choose_images {
      flex-direction: column;
    }
    .cs_img_1,
    .cs_img_2 {
      width: 100%;
    }
  }
}
/*=======================================================
  Portfolio
=========================================================*/

.cs_portfolio_style_1 {
  .cs_portfolio_img {
    padding-right: 34%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &:nth-child(even) {
    .cs_portfolio_img {
      padding-left: 34%;
      padding-right: 0;
    }
    .cs_card_style_5 {
      left: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  @media (max-width: 1199px) {
    .cs_card_style_5 {
      position: relative;
      z-index: 2;
      top: 0;
      margin: 0 auto;
      margin-top: -50px;
      transform: none;
    }
    .cs_portfolio_img {
      padding-right: 0;
    }
    &:nth-child(even) {
      .cs_portfolio_img {
        padding-left: 0;
      }
    }
  }
}

.cs_portfolio_style_2 {
  padding: 30px;

  .cs_portfolio_meta {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      border-radius: 150px;
      border: 1px solid var(--accent-color);
      width: 100px;
      height: 25px;
    }
  }

  .cs_portfolio_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    cursor: pointer;
  }

  .cs_card_btn {
    pointer-events: none;
  }

  .cs_img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_circle_text {
    right: 30px;
    bottom: -25%;
    width: 160px;
    height: 160px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &.active {
    .cs_portfolio_head {
      margin-bottom: 30px;
      pointer-events: none;
    }

    .cs_portfolio_body {
      margin-bottom: 20px;
    }
    .cs_card_btn {
      pointer-events: initial;
    }
  }

  @media (max-width: 1199px) {
    .cs_circle_text {
      right: 0px;
      width: 120px;
      height: 120px;
    }
    p {
      position: relative;
      z-index: 2;
      br {
        display: none;
      }
    }
  }
  @media (max-width: 991px) {
    .cs_img {
      height: 150px;
    }
    .cs_circle_text {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.cs_portfolio_style_3 {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .cs_portfolio_img {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_portfolio_title a:hover {
    color: var(--accent-color);
  }

  .cs_portfolio_left {
    padding-right: 40px;
  }
  .cs_portfolio_right {
    padding-left: 40px;
    position: relative;
    padding-top: 80px;

    .cs_circle_text {
      right: 60px;
      top: 0;
    }
  }

  .cs_portfolio_card {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;

    .cs_portfolio_left {
      padding-right: 0;
    }

    .cs_portfolio_right {
      padding-left: 0;
    }
  }
}

/*=======================================================
  Workfolw
=========================================================*/

.cs_workflow_section {
  .cs_left_thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .cs_img {
    border-radius: 10px 10px 200px 10px;
    img {
      width: 100%;
      object-fit: cover;
    }

    &:nth-child(2) {
      border-radius: 10px 10px 10px 200px;
    }
    &:nth-child(3) {
      border-radius: 10px 200px 10px 10px;
    }
    &:nth-child(4) {
      border-radius: 200px 10px 10px 10px;
    }
  }

  .cs_circle_text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .cs_play_btn {
      background-color: transparent;
      color: var(--white-color);
      width: 40px;
      height: 40px;
    }
  }

  .cs_right_workflow {
    counter-reset: accordion-counter;
    position: relative;
    &::after {
      content: "";
      width: 1px;
      height: 90%;
      background-color: var(--accent-color);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media (max-width: 1199px) {
    .cs_right_workflow {
      margin-left: 20px;
    }
  }
}

/*=======================================================
  Solution 
=========================================================*/

.cs_solution_wrapper_style_1 {
  .cs_left_solution,
  .cs_right_solution {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .cs_img {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
    .cs_card_btn {
      width: 130px;
      height: 130px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: all 01s ease;
      i {
        width: 40px;
      }

      &:hover {
        background-color: var(--light-blue-color);
        color: var(--accent-color);
      }
    }

    &:hover {
      .cs_card_btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/*=======================================================
  Form
=========================================================*/
.cs_form_field {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray-color2);
  background: transparent;
  padding: 15px;
  outline: none;
}
textarea.cs_form_field {
  padding: 30px;
}

/*=======================================================
  Contact Section
=========================================================*/

.cs_contact_style_1 {
  .cs_contact_form_style_1 {
    padding-right: 40px;

    .cs_select {
      border: 0;
    }
  }
  .cs_circle_text {
    width: 150px;
    height: 150px;
    bottom: 20px;
    right: 20px;
  }

  .cs_contact_img {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_contact_widgets {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      a {
        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  .cs_contact_map {
    height: 360px;
    border-radius: 10px;
    overflow: hidden;

    iframe {
      display: block;
      transform: 0;
      width: 100%;
      height: 100%;
      filter: brightness(120%) grayscale(0.6);
    }
  }

  .cs_input_wrapper {
    position: relative;
    width: 100%;
  }

  .ts-control {
    height: 25px;
    width: 100%;
    border: none !important;
    outline: none;
    padding: 0 !important;
    background: transparent !important;
    overflow: hidden;

    input {
      width: min(70px, 100%);

      &::placeholder {
        color: var(--primary-color);
      }
    }

    &::after {
      content: "\f078";
      font-family: "Font Awesome 7 Free";
      font-size: 16px;
      font-weight: 900;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: var(--secondary-color);
    }
  }

  .ts-control,
  .ts-control input,
  .ts-dropdown {
    font-size: 16px;
    line-height: 1.5625em !important;
    color: var(--secondary-color);
  }
  .ts-dropdown {
    border: 0;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.2s ease,
      transform 0.3s ease;
    display: block !important;
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      border: 1px solid var(--accent-color);
    }

    .option {
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.5em;
      color: var(--accent-color);
      transition: all 0.4s ease;

      &.active {
        background-color: var(--gray-color);
      }
    }
  }

  @media (max-width: 991px) {
    .cs_contact_form_style_1 {
      padding-right: 0;
    }
  }
}

.cs_contact_form_style_2 {
  .cs_form_field {
    border: none;
    background-color: var(--blue-color);
  }
  input,
  textarea {
    &::placeholder {
      color: var(--light-blue-color);
    }
  }
}

/*=======================================================
  Layer Img box
=========================================================*/
.cs_layer_img_box {
  position: relative;
  padding-right: 15%;

  .cs_layer_img_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 53%;

    img {
      border: 2px solid var(--white-color);
    }
  }

  img {
    width: 100%;
  }
}

/*=======================================================
    CTA
=========================================================*/
.cs_cta_style_1 {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 140px 0px;
  position: relative;

  &::after {
    content: "";
    inset: 0;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 10px;
    opacity: 0.8;
  }

  .cs_section_heading_style_1 {
    width: min(720px, 100%);
  }

  .cs_cta_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px 40px;
    flex-wrap: wrap;
  }

  .cs_counter_style_2 {
    width: 200px;
    height: 200px;
    padding: 52px 20px;
  }

  @media (max-width: 767px) {
    width: calc(100% - 20px);
    padding: 80px 0;
    .cs_counter_style_2 {
      width: 180px;
      height: 180px;
    }
  }
}

/*=======================================================
    list 
=========================================================*/
.cs_list_style_1 {
  list-style: disc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;

  li {
    font-size: 24px;
    line-height: 1.33333em;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(7) {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    li {
      &:nth-child(7) {
        margin-bottom: 28px;
      }
    }
  }
}

/*=======================================================
  Brand Logo
=========================================================*/
.cs_brand_style_1 {
  width: calc(100% - 30px);
  max-width: 1800px;
  margin: 0 auto;
  border-radius: 30px;

  .cs_brand_text {
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 160px;
    font-weight: 600;
    line-height: 1em;
  }

  .cs_circle_text {
    position: relative;
  }
  .cs_brand_in {
    width: min(1240px, 100%);
    padding: 120px 20px;
    margin: 0 auto;
  }

  .cs_brand_img {
    img {
      opacity: 0.4;
      transition: all 0.3s ease;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  @media (max-width: 991px) {
    margin: 0 10px;
    .cs_brand_text {
      font-size: 140px;
    }
  }

  @media (max-width: 767px) {
    margin: 0 10px;
    .cs_brand_in {
      padding: 80px 10px;
    }

    .cs_brand_text {
      font-size: 100px;
    }
  }
  @media (max-width: 575px) {
    .cs_brand_in {
      padding: 40px 10px;
    }
    .cs_brand_text {
      font-size: 70px;
    }
  }
}

.cs_service_img {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }
}

// /*===========================================================
//   Pagination Box
// =============================================================*/
.cs_pagination_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .cs_pagination_item,
  .cs_pagination_arrow {
    border-radius: 10px;
    background: transparent;
    height: 40px;
    width: 40px;
    color: var(--primary-color);
    border: 1px solid var(--accent-color);

    &.active {
      background-color: var(--accent-color);
      color: var(--white-color);
      pointer-events: none;
    }
  }

  a.cs_pagination_item:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }

  .cs_pagination_arrow {
    color: var(--primary-color);
    // background-color: var(--accent-color);

    &:hover {
      color: var(--accent-color);
      background-color: transparent;
    }
  }
}

.cs_bg_size_1 {
  max-width: 1900px;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.cs_bg_size_2 {
  max-width: 1860px;
  width: calc(100% - 20px);
  margin: 0 auto;

  .container-fluid {
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    .container-fluid {
      padding: 0 10px;
    }
    width: calc(100% - 10px);
  }
}
// TEst Run
