/*===============================================================
 18. Posts and Post Details
=================================================================*/
.cs_post_style_1 {
  .cs_post_thumbnail {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      transform: scale(1);
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .cs_post_title {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.cs_post_style_2,
.cs_post_style_5 {
  width: 100%;

  .cs_post_thumbnail {
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s cubic-bezier(0.55, 1, 0.66, 1);
    }

    &:has(img[src=""]) {
      display: none;
      margin-bottom: 0;
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .cs_post_title a {
    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_post_meta {
    display: flex;
    gap: 8px;

    .cs_date {
      padding-left: 58px;
      position: relative;

      &::before {
        content: "";
        width: 50px;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        top: 12px;
        left: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  hr {
    margin-top: 0;
    border-color: var(--border-color);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cs_text_btn_style_1 {
    &:hover {
      color: var(--accent-color);
      letter-spacing: 1px;
    }
  }

  .cs_posted_date {
    width: 90px;
    height: 90px;
    left: 0;
    top: 0;
    padding: 15px;
  }

  &.cs_feature_post {
    padding-right: 18px;
  }

  &.cs_type_1 {
    .cs_post_thumbnail {
      border-radius: 175px 10px 10px 10px;
    }
  }

  @media (max-width: 991px) {
    &.cs_feature_post {
      padding-right: 0;
    }
  }
}

.cs_post_style_3 {
  width: 100%;
  padding: 10px 10px 30px;

  .cs_post_thumbnail {
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s cubic-bezier(0.55, 1, 0.66, 1);
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .cs_post_info {
    padding: 0 20px;
  }

  .cs_post_title a {
    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_post_meta_wrapper {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;

    .cs_post_meta {
      padding: 9px 30px;
      border-radius: 60px;
      line-height: 1em;
      color: var(--border-color);
      border: 1px solid currentColor;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_text_btn_style_1 {
    &:hover {
      color: var(--accent-color);
      letter-spacing: 1px;
    }
  }

  @media (max-width: 991px) {
  }
}

.cs_post_style_4 {
  width: 100%;
  height: 100%;

  .cs_post_thumbnail {
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s cubic-bezier(0.55, 1, 0.66, 1);
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .cs_post_title a {
    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_post_meta_wrapper {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cs_category {
    padding: 6px 16px;
    border-radius: 60px;
    line-height: 1em;
    color: var(--accent-color);
    background-color: var(--white-color);
  }

  &.cs_featured_post {
    position: relative;

    .cs_post_thumbnail {
      width: 100%;
      height: 100%;
      position: relative;
      margin-bottom: 0;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.6) 100%
        );
      }
    }

    .cs_post_info {
      width: min(100%, 750px);
      padding: 0 20px 60px 60px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      pointer-events: none;
    }

    .cs_category {
      display: none;
    }

    .cs_date {
      padding: 6px 30px;
      border-radius: 60px;
      color: var(--accent-color);
      background-color: var(--white-color);
    }

    .cs_post_title {
      margin-bottom: 0;
    }

    .cs_post_subtitle {
      display: none;
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  @media (max-width: 1199px) {
    &.cs_featured_post {
      .cs_post_info {
        width: 100%;
        padding: 0 15px 40px 20px;
      }
    }
  }

  @media (max-width: 991px) {
    &.cs_featured_post {
      .cs_post_info {
        width: 100%;
        padding: 0 15px 40px;
      }
    }
  }
}

.cs_post_style_5 {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .cs_post_thumbnail {
    max-height: 240px;
  }

  .cs_post_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cs_post_summery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  .cs_posted_by,
  .cs_post_comment {
    text-wrap: nowrap;
    line-height: 1em;

    img {
      margin-right: 4px;
    }

    span {
      display: inline-block;
    }
  }

  .cs_text_btn_style_1 {
    margin-top: auto;
  }

  @media (max-width: 1399px) {
    padding: 20px 20px 30px;
  }

  @media (max-width: 1599px) {
    .cs_post_meta {
      .cs_date {
        padding-left: 15px;

        &::before {
          width: 10px;
        }
      }
    }
  }
}

.cs_post_style_6 {
  display: flex;
  gap: 20px;

  .cs_post_meta i {
    margin-right: 6px;
  }

  .cs_post_thumb {
    width: 80px;
    height: 80px;
    flex: none;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
      img {
        transform: scale(1.02) rotate(0.5deg);
      }
    }
  }

  .cs_post_title {
    a:hover {
      color: var(--accent-color);
    }
  }

  @media (max-width: 575px) {
    .cs_sidebar_widget {
      padding: 30px 20px 40px;
    }
  }
}

.cs_post_style_7 {
  display: flex;
  gap: 20px;

  .cs_post_thumb {
    width: 80px;
    height: 80px;
    flex: none;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
      img {
        transform: scale(1.02) rotate(0.5deg);
      }
    }
  }

  .cs_post_meta i {
    margin-right: 6px;
  }

  .cs_post_title {
    a:hover {
      color: var(--accent-color);
    }
  }
}

/*===================================================
 Post Grid Layouts
=====================================================*/
.cs_posts_grid_1 {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}

.cs_posts_grid_2 {
  width: min(100%, 1520px);
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);

  .cs_post_style_4 {
    grid-column: auto / span 3;

    &:nth-child(2) {
      grid-column: auto / span 4;
    }
  }

  .cs_featured_post {
    grid-column: auto / span 8;
  }

  @media (max-width: 1199px) {
    .cs_post_style_4 {
      grid-column: auto / span 6;

      &:nth-child(2) {
        grid-column: auto / span 5;
      }
    }

    .cs_featured_post {
      grid-column: auto / span 7;
    }
  }

  @media (max-width: 767px) {
    .cs_post_style_4 {
      &:nth-child(2) {
        grid-column: auto / span 12;
      }
    }

    .cs_featured_post {
      grid-column: auto / span 12;
    }
  }

  @media (max-width: 575px) {
    .cs_post_style_4 {
      grid-column: auto / span 12;
    }
  }
}

.cs_posts_grid_3 {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*================================================
 Post Details
==================================================*/

.cs_post_details {
  .cs_post_details_banner {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_results {
    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .cs_post_meta_link {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      display: flex;
      gap: 8px;
    }

    i {
      color: var(--accent-color);
    }
  }
}

.cs_post_comment_area {
  .cs_comment_body {
    display: flex;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:nth-child(even) {
      padding-left: 120px;
    }

    .cs_comment_info {
      width: min(100%, 550px);
    }
    .cs_avatar_thumbnail {
      width: 150px;
      height: 150px;
      padding: 15px;
      flex: none;
      border-radius: 50%;
      border: 1px dashed var(--accent-color);
    }

    .cs_comment_meta_wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
      color: var(--primary-color);

      button {
        font-size: 14px;
        font-weight: 600;
        font-family: var(--primary-font);
        color: var(--primary-color);
        margin-bottom: 0;
      }

      button:hover {
        color: var(--accent-color);
      }
    }
  }

  @media (max-width: 991px) {
    .cs_comment_body {
      &:nth-child(even) {
        padding-left: 0px;
      }
    }
  }
  @media (max-width: 767px) {
    .cs_comment_body {
      gap: 15px;
      .cs_avatar_thumbnail {
        width: 100px;
        height: 100px;
      }
    }
  }
  @media (max-width: 575px) {
    .cs_comment_body {
      flex-direction: column;
    }
  }
}

.cs_comment_form_wrapper {
  border: 1px solid #faf8f4;

  .cs_comment_form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .cs_input_group {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    .cs_form_field {
      display: block;
      width: 100%;
      border: 0;
      outline: 0;
      background: #faf8f4;
      resize: none;
      font-weight: 400;
      color: var(--primary-color);
      padding: 20px 30px;
    }

    .cs_btn_style_1 {
      padding: 20px 30px;
    }
  }

  @media (max-width: 767px) {
    .cs_comment_form {
      .cs_input_group {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.cs_post_wrapper_style_1 {
  .cs_section_title {
    letter-spacing: 1.06px;
  }
}
