/*===============================================================
 19. Pricing
=================================================================*/
.cs_pricing_table_style_1,
.cs_pricing_table_style_2 {
  padding: 30px;

  .cs_pricing_features_list {
    li {
      padding-left: 32px;
      position: relative;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.5em;
      font-weight: 600;
      font-family: var(--primary-font);

      img {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  hr {
    margin: 20px 0 30px;
  }

  .cs_btn_style_1 {
    border-radius: 10px;
  }
}

.cs_pricing_table_style_2 {
  border: 1px solid var(--accent-color);
  background: transparent;

  .cs_price_type {
    border: 1px solid var(--accent-color);
    padding: 10px 40px;
    border-radius: 150px;
    width: fit-content;
  }
  .cs_btn_style_1 {
    background-color: transparent;
    border-color: var(--accent-color);
    &::before {
      background-color: var(--accent-color);
    }
  }
}

.cs_pricing_wrapper_style_1 {
  position: relative;

  .cs_img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 424px;
    filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%)
      hue-rotate(347deg) brightness(88%) contrast(85%);
    img {
      width: 100%;
    }
  }
}
