/*===============================================================
  20. Tabs
=================================================================*/
.cs_tab_links.cs_style_1 {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  li {
    a {
      border-radius: 150px;
      border: 1px solid var(--accent-color);
      padding: 10px 32px;
    }

    &.active,
    &:hover {
      a {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }
  }
}

/*===================================================
 Tab Content
=====================================================*/
.cs_tabs {
  .cs_tab {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;

    &.active {
      position: initial;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}
