/*===============================================================
 21. Testimonials
=================================================================*/
.cs_testimonial_style_1,
.cs_testimonial_style_2,
.cs_testimonial_style_5 {
  .cs_rating_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .cs_rating {
    width: 110px;
    color: #fc0;
    font-size: 14px;
    letter-spacing: 4px;
  }

  blockquote {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625em;
  }

  .cs_testimonial_author {
    position: relative;
    padding-left: 50px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 2px;
      background-color: currentColor;
    }
  }

  .cs_testimonial_thumbnail {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.cs_testimonial_style_2,
.cs_testimonial_style_8 {
  blockquote {
    font-size: 24px;
    font-style: normal;
  }

  @media (max-width: 767px) {
    blockquote {
      font-size: 16px;
    }
  }
}

.cs_testimonial_style_3 {
  position: relative;
  perspective: 1000px;
  overflow: hidden;

  .cs_testimonial_thumbnail_hover {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transform-origin: left top;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
      border-radius: inherit;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h2 {
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
  }

  .cs_rating {
    font-size: 16px;
    letter-spacing: 3px;
    color: #fc0;
  }

  .cs_testimonial_in {
    padding: 40px;
    background-color: var(--white-color);
    backface-visibility: visible;
    transform-origin: right bottom;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }

  .cs_testimonial_top {
    display: flex;
    gap: 20px;
  }
  .cs_testimonial_author {
    flex-shrink: 0;
  }

  .cs_testimonial_thumbnail {
    width: 100px !important;
    height: 100px;

    img {
      width: 100%;
    }
  }

  &:hover {
    .cs_testimonial_in {
      transform-origin: top right;
      transform: rotateY(90deg);
    }
    .cs_testimonial_thumbnail_hover {
      transform: rotateY(0);
      transform-origin: left top;
    }
  }

  @media (max-width: 1199px) {
    .cs_testimonial_in {
      padding: 20px;
    }
  }
}

.cs_testimonial_style_4 {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 648px;

  .cs_testimonial_info {
    flex: 1;
    text-wrap: wrap;
  }

  .cs_testimonial_thumbnail {
    flex: none;
    width: 300px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_rating {
    color: #fc0;
  }
}

.cs_testimonial_style_5 {
  .cs_testimonial_author {
    &::after {
      background-color: var(--accent-color);
    }
  }
}

.cs_testimonial_style_6 {
  padding: 40px;
  border: 1px solid var(--gray-color2);
  width: 424px;

  .cs_testimonial_top {
    display: flex;
    gap: 20px;
  }

  .cs_rating {
    color: #fc0;
  }

  .cs_testimonial_thumbnail {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    background-color: var(--accent-color);
  }
}

.cs_testimonial_style_7 {
  padding: 60px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

  .cs_testimonial_author_info {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    .cs_author_thumbnail {
      width: 60px;
      height: 60px;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 20px;
  }
}

.cs_testimonial_style_8 {
  padding: 40px;

  blockquote {
    color: var(--light-blue-color);
  }

  @media (max-width: 1400px) {
    padding: 20px 30px;
  }
  @media (max-width: 575px) {
    padding: 20px;
  }
}

.cs_testimial_wrapper_style_1 {
  .container-fluid {
    padding: 0 75px;
  }

  @media (max-width: 991px) {
    .container-fluid {
      padding: 0 20px;
    }
  }
}

.cs_testimonial_wrapper_style_2 {
  .cs_testimonial_in {
    padding: 80px 0;
  }

  .cs_testimonial_thumbnail {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 991px) {
    .cs_testimonial_in {
      padding: 40px 0;
    }
  }
}

.cs_testimonial_wrapper_style_3 {
  width: calc(100% - 30px);
  max-width: 1800px;
  margin: 0 auto;

  .cs_testimonial_thumbnail {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .cs_slider.cs_style_1 {
    padding: 12px;
  }
  .cs_rating {
    color: #fc0;
  }
}
